{% extends '@App/SonataAdmin/standard_layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ url('sonata_admin_dashboard') }}">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li class="active">Модерация рибейтов</li>
{% endblock %}
{% block content %}
    <h1>Test</h1>
{% endblock %}