<body>
{{ form_start(form) }}
    {{ form_row(form.userName) }}
    {{ form_row(form.userEmail) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

<button type="submit">Register!</button>
{{ form_end(form) }}
</body>