{% extends '@App/base.html.twig' %}

{% block body %}
    <h1>Torrents list</h1>
    {% if torrents is defined %}

        {% for torrent in torrents %}
            <h2>{{ torrent.name }}</h2>
            <h4>{{ torrent.createdAt | date("d.m.Y  H:i:s")}}</h4>
        {% endfor %}

    {% endif %}

    {{ dump(torrents) }}

{% endblock %}
