{% extends '@App/base.html.twig' %}

{% block body %}
    <h1>Torrent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ torrent.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ torrent.name }}</td>
            </tr>
            <tr>
                <th>Meta</th>
                <td>{{ torrent.meta }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ torrent.title }}</td>
            </tr>
            <tr>
                <th>Hash</th>
                <td>{{ torrent.hash }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('torrent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('torrent_edit', { 'id': torrent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
