{% if success %}
    <h2 style="padding: 10%">Регистрация успешно завершена. Перенаправление на главную <span id="timeout_id_span"></span></h2>
    <script type="application/javascript">
        var timeout = 4;
        setTimeout(function () {
            window.location.href = '/';
        }, timeout * 1000);
        setInterval(function () {
            document.getElementById('timeout_id_span').innerHTML = timeout;
            timeout--;
        }, 1000);
    </script>
{% else %}
    <h2 style="padding: 10%">Неверная ссылка подтверждения регистрации. Возможно вы уже подтвердили регистрацию.</h2>
{% endif %}